Nous allons étudier des données qui correspondent aux personnages-joueurs du jeu-vidéo World Of Warcraft sur un serveur qui date de 2008.

Il y a un total de x joueurs, chaque joueur à un total de x attribue.

Je vais utiliser les librairies Python Pandas/Numpy/Seaborn pour étudier et analyser ces données visuellement.

In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
import gc

# Préparer les données <a id="1"></a>

### Fichier en entrée <a id="2"></a>

In [14]:
print('%-33s %d' % ('Nombre de Fichier .csv :', len(os.listdir('./input'))))
for i in range(34):
    print('-',end='')
print('-')
for file in os.listdir("./input/"):
    unit = 'MB'
    size = os.stat('./input/' + file).st_size
    if round(size / 2**20, 2) < 0.5:
        size = round(size / 2**10, 2)
        unit = 'KB'
    else:
        size = round(size / 2**20, 2)
    print('%-25s %6.2f %2s' % (file, size, unit))

Nombre de Fichier .csv :          4
-----------------------------------
locations.csv               6.07 KB
location_coords.csv       228.99 KB
wowah_data.csv            613.61 MB
zones.csv                  16.46 KB

# Présentation des données <a id="1"></a>

### Les Joueurs <a id="2"></a>

On va commencer par quelque chose de simple, regarder un peu ce qu'est un joueur.

In [27]:
joueur = pd.read_csv('./input/wowah_data.csv');
joueur.head()

,char,level,race,charclass,zone,guild,timestamp
0,59425,1,Orc,Rogue,Orgrimmar,165,01/01/08 00:02:04
1,65494,9,Orc,Hunter,Durotar,-1,01/01/08 00:02:04
2,65325,14,Orc,Warrior,Ghostlands,-1,01/01/08 00:02:04
3,65490,18,Orc,Hunter,Ghostlands,-1,01/01/08 00:02:04
4,2288,60,Orc,Hunter,Hellfire Peninsula,-1,01/01/08 00:02:09

Chaque individu est un joueur qui à un métier (Voleur, guerrier ou magicien...), une race (humain, elfe, nain...) et un niveau.

In [105]:
joueur = pd.read_csv('./input/wowah_data.csv');
#JoueurNiveauMax = joueur[joueur.level.eq(60)]
JoueurNiveauMax = joueur[joueur.columns[1]]==80
print("Sur un total de", joueur[joueur.columns[0]].count() ,"Personnage-joueurs seulement", JoueurNiveauMax[JoueurNiveauMax==True].count(), "ont atteints le niveau maximum.")

Sur un total de 10826734 Personnage-joueurs seulement 340986 ont atteints le niveau maximum.