Nous allons étudier des données qui correspondent aux connexion de personnages-joueurs dans le jeu-vidéo World Of Warcraft sur un serveur en 2008.

Chaque row dans le fichier .csv correspond à une connexion quotidienne d'un joueur.

Sur un axe de 1 ans (année 2008), nous avons un total de 10 millions de connexion.

Je vais utiliser les librairies Python Pandas/Numpy/Seaborn pour étudier et analyser ces données visuellement pour démontrer l'impact de l'extension sur les joueurs.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
import gc

# Préparer les données <a id="1"></a>

### Fichier en entrée <a id="2"></a>

In [41]:
print('%-33s %d' % ('Nombre de Fichier .csv :', len(os.listdir('./input'))))
for i in range(34):
    print('-',end='')
print('-')
for file in os.listdir("./input/"):
    unit = 'MB'
    size = os.stat('./input/' + file).st_size
    if round(size / 2**20, 2) < 0.5:
        size = round(size / 2**10, 2)
        unit = 'KB'
    else:
        size = round(size / 2**20, 2)
    print('%-25s %6.2f %2s' % (file, size, unit))

Nombre de Fichier .csv :          6
-----------------------------------
IBM_HR_ATTRITION.csv      222.63 KB
locations.csv               6.07 KB
location_coords.csv       228.99 KB
sales_predictions.csv      93.02 MB
wowah_data.csv            623.93 MB
zones.csv                  16.46 KB

# Présentation des données <a id="1"></a>

### Les Joueurs <a id="2"></a>

On va commencer par quelque chose de simple, regarder un peu ce que représente un row dans nos données.

In [42]:
timeData = pd.read_csv('./input/wowah_data.csv', sep = ',', skipinitialspace=True);
timeData.head()

    char  level race charclass                zone  guild          timestamp
0  59425      1  Orc     Rogue           Orgrimmar    165  01/01/08 00:02:04
1  65494      9  Orc    Hunter             Durotar     -1  01/01/08 00:02:04
2  65325     14  Orc   Warrior          Ghostlands     -1  01/01/08 00:02:04
3  65490     18  Orc    Hunter          Ghostlands     -1  01/01/08 00:02:04
4   2288     60  Orc    Hunter  Hellfire Peninsula     -1  01/01/08 00:02:09

Chaque ligne représente la connexion d'un joueur sur son personnage. 
Seulement la première connexion quotidienne a été enregistrer.

Timestamp représente le moment où le joueur s'est connecté la première fois dans la journée.

In [ ]:
timeData.info()

In [ ]:
sns.relplot(x=timeData["level"],y=timeData["timestamp"],data=timeData.sample(100))