<a href="https://colab.research.google.com/github/kalmuroth/python-exo/blob/master/python_lb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercice Python

1)

In [ ]:
inputUn = input('Donne moi chiffre 1\n')
inputDeux = input('Donne moi chiffre 2\n')
try :
    if int(inputDeux) > 0 and int(inputUn) > 0 :
        print('positif')
    else : 
        print ('negatif')
except:
    print ('mauvais input')

Donne moi chiffre 1
-4
Donne moi chiffre 2
2
negatif

2)

In [ ]:
inputUn = input('Donne moi chiffre\n')
i=0
test=0
try :
    while(int(inputUn) >= i):
        test = test + i
        i+=1
    print(test)
except:
    print ('mauvais input')

Donne moi chiffre
8
36

3)

In [ ]:
test = 0
array = [1,2,3,4,5,6,7]
for i in range(0, len(array)):
    test = array[i] + test
print(test)

28

4)

In [ ]:
test = 0
arrayUno = [1,2,3]
arrayDos = [1,2,3]
for i in range(0, len(arrayUno)):
    test = arrayUno[i] * arrayDos[i] + test
print(test)

14

5)

In [ ]:
array = [1,2,3,4,5,6,7]
maximus = max(array)
print(maximus)

7

6)

In [ ]:
try :
  a = int(input("Nombre de nombre dans le tableau "))
  n = list(map(int, input("Nombre : ").strip().split()))
  test = sum(n) / len(n)
  for i in range(0, len(n)):
      if (n[i] > test):
              print(n[i])
except:
  print ('mauvais input')

Nombre de nombre dans le tableau 5
Nombre : 1 2 3 4 5
4
5

7)

In [ ]:
import numpy as np
vectorUno=np.array([1,2,3,4,5])
vectorDos=np.array([1,2,3,4,5])
vectorSomme = (vectorUno * vectorDos)
print(vectorSomme)

[ 1  4  9 16 25]

8)

In [6]:
array = [1,2,3,4,5,6,7]
array.sort()
print(array)

[1, 2, 3, 4, 5, 6, 7]

9)

In [5]:
inputUn = input('Donne moi chiffre\n')
i=1
test=1
try :
    while(int(inputUn) >= i):
        test = test * i
        i+=1
    print(test)
except:
    print ('faux')

Donne moi chiffre
10
3628800

10)

In [1]:
matriceUn= [ [2, 2, 2], [2, 2, 2] ]
matriceDeux = [ [2, 2, 2], [2, 2, 2] ]
n=len(matriceUn)
m=len(matriceUn[0]) 
fusion = [[0]*m for i in range(n)] 
for i in range(n):
    for j in range(m):
        fusion[i][j]= matriceUn[i][j] + matriceDeux[i][j]

print("Fusion des deux matrices : ", fusion)

Fusion des deux matrices :  [[4, 4, 4], [4, 4, 4]]

11)

In [3]:
base = 10
f0 = 0
f1 = 1
print("La suite fibonacci est :")
print(f0, ",", f1, end=" , ")

for i in range(2, base):
    suivant = f0 + f1
    print(suivant, end=" , ")
    f0 = f1
    f1 = suivant

La suite fibonacci est :
0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 ,

12)

In [4]:
k = int(input('Donne moi chiffre\n'))
i = 0
x = 1
while (k >= i):
    i = 1/x + i
    x+=1
print(x)

Donne moi chiffre
10
12368